.header {
  background-color: orange;
  margin: -22px;
  padding: 0;
}

.searchBox {
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 510px;
}

.title {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 665px;
}

.icons {
  text-align: right;
  margin-right: 30px;
  margin-top: -29px;
  font-size: large;
}

.main1 {
  margin: 0;
  padding: 0;
}

.prof-left {
  margin: 60px;
  float: left;
}

.prof-right {
  margin-top: 90px;
  margin-right: 160px;
  float: right;
  font-size: 20px;
}

.main2 {
  margin-top: 300px;
}

.sort {
  text-align: right;
  margin-right: 90px;
}

.toukou {
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
}

.cat {
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
}

.achieve {
  margin-left: -40px;
}

.juchuu {
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
}

.box0 {
  background: white;
  margin-left: 130px;
}
.box1 {
  background: white;
}
.box2 {
  background: white;
}
.box3 {
  background: white;
}
.box4 {
  background: white;
}
.box5 {
  background: white;
}
.wrap {
  margin-bottom: 20px;
  height: 200px;
  text-align: left;
  margin-left: 90px;
}
.box {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 200px;
  border: solid 1px;
}

.footer {
  background-color: gray;
  margin: -22px;
  padding: 0;
  margin-top: 0px;
}

.footer-nakami {
  margin-top: 10px;
  color: black;
  margin-left: 60px;
}

.icons2 {
  margin-right: -150px;
  margin-top: 190px;
  font-size: large;
}

.icons3 {
  text-align: right;
  margin-right: 40px;
  margin-top: -60px;
}

.main3 {
  margin: 0;
  padding: 0;
}

.box6 {
  background: white;
  height: 594px;
  width: 420px;
  margin-left: 30px;
}

.task {
  margin-top: 50px;
  margin-right: 170px;
  float: left;
  font-size: 20px;
}

.main6 {
  margin-top: 100px;
}

.news {
  width: 400px;
}

.newsTitle {
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  margin-top: 50px;
}

.newsBox1 {
  margin-top: -315px;
  background-color: orange;
}

.newsBox2 {
  margin-top: -258px;
  background-color: white;
}

.jouhou {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.toukouBox {
  background-color: black;
}

.syurui {
  margin-top: -250px;
  text-align: left;
  margin-left: 600px;
}

.seigen {
  margin-top: -149px;
  text-align: left;
  margin-left: 800px;
}

.hani {
  margin-top: -149px;
  text-align: left;
  margin-left: 1000px;
}

.seiteki {
  margin-top: -107px;
  text-align: left;
  margin-left: 1200px;
}

.profBox {
  margin-left: 565px;
}

.upload {
  margin-left: 817px;
  margin-top: -20px;
}

.gender {
  margin-top: -250px;
  text-align: left;
  margin-left: 600px;
}

.profKousin {
  margin-top: 150px;
  text-align: left;
  margin-left: 635px;
}

.toukouButton {
  margin-top: 200px;
  margin-left: -550px;
}

.slider {
  margin-top: 100px;
  margin-left: 500px;
}

.main5 {
  margin-top: -385px;
}
